<a href="https://colab.research.google.com/github/jonathanahc/Practicas/blob/main/Limpieza_y_Transformaci%C3%B3n_de_Datos_Pr%C3%A1cticas_11%2C_12%2C_13%2C_14%2C_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Práctica 11: Carga de Datos

In [90]:
df = pd.read_csv('/content/drive/MyDrive/Unidad02/miaad-nyc-r-s.csv', engine="python", skipfooter=1)

In [91]:
df.tail(3)

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
84545,8411,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,...,2,0,2,4000,1496,1925,1,B2,460000,2017-07-05 00:00:00
84546,8412,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,...,0,7,7,208033,64117,2001,4,K6,11693337,2016-12-21 00:00:00
84547,8413,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,...,0,1,1,10796,2400,2006,4,P9,69300,2016-10-27 00:00:00

In [92]:
print(f"El dataframe tiene {df.shape[0]} filas y {df.shape[1]} columnas")

El dataframe tiene 84548 filas y 22 columnas

# Práctica 12: Agregar una columna

In [93]:
df.columns

Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [94]:
df = df.rename(columns={'Unnamed: 0': 'INDEX MIIAD'})
df.columns

Index(['INDEX MIIAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

# Práctica 13: Normalización de los nombres de la columna

In [95]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [96]:
print(df.columns)

Index(['index_miiad', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

# Práctica 14: Errores en los Tipos de Datos

In [97]:
df.dtypes

index_miiad                        int64
borough                            int64
neighborhood                      object
building_class_category           object
tax_class_at_present              object
block                              int64
lot                                int64
ease-ment                         object
building_class_at_present         object
address                           object
apartment_number                  object
zip_code                           int64
residential_units                  int64
commercial_units                   int64
total_units                        int64
land_square_feet                  object
gross_square_feet                 object
year_built                         int64
tax_class_at_time_of_sale          int64
building_class_at_time_of_sale    object
sale_price                        object
sale_date                         object
dtype: object

In [98]:
print(df[['sale_price', 'land_square_feet', 'gross_square_feet']].dtypes)

sale_price           object
land_square_feet     object
gross_square_feet    object
dtype: object

In [99]:
for col in ['sale_price', 'land_square_feet', 'gross_square_feet']:
  df[col] = pd.to_numeric(df[col], errors='coerce')

In [100]:
print(df[['sale_price', 'land_square_feet', 'gross_square_feet']].dtypes)

sale_price           float64
land_square_feet     float64
gross_square_feet    float64
dtype: object

# Práctica 15: Genera el diccionario de datos del dataframe preprocesado. Imprime el contenido de dicho diccionario

In [101]:
diccionario_dataframe = pd.DataFrame({'Columna': df.columns,
                                      'Tipo de dato': [str(df[col].dtype) for col in df.columns]})

In [102]:
print(diccionario_dataframe)

                           Columna Tipo de dato
0                      index_miiad        int64
1                          borough        int64
2                     neighborhood       object
3          building_class_category       object
4             tax_class_at_present       object
5                            block        int64
6                              lot        int64
7                        ease-ment       object
8        building_class_at_present       object
9                          address       object
10                apartment_number       object
11                        zip_code        int64
12               residential_units        int64
13                commercial_units        int64
14                     total_units        int64
15                land_square_feet      float64
16               gross_square_feet      float64
17                      year_built        int64
18       tax_class_at_time_of_sale        int64
19  building_class_at_time_of_sale       object
20                      sale_price      float64
21                       sale_date       object