<a href="https://colab.research.google.com/github/jonathanahc/Practicas/blob/main/Pr%C3%A1ctica_6_Manejo_de_librer%C3%ADa_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

import numpy as np
import pandas as pd

Mounted at /content/drive

**Carga del archivo CSV a un Dataframe.**

In [15]:
df = pd.read_csv('/content/drive/MyDrive/ClassFiles/Titanic-Dataset.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Ejercicio 1: Análisis de la distribución de supervivencia por combinación de sexo y clase del pasajero

**Calcula la proporción de supervivencia para cada combinación de
'Sex' y 'Pclass'.**

In [12]:
proporcionp = df.groupby(['Sex','Pclass'])['Survived'].mean()
print(proporcionp)

Sex     Pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: Survived, dtype: float64

# Ejercicio 2: Identificación de familias grandes a bordo

**Crea una nueva columna 'FamilySize' sumando las columnas 'SibSp' y 'Parch'.**

In [16]:
df['FamilySize'] = df['SibSp'] + df['Parch']

**Considera como "familia grande" a aquellas donde 'FamilySize' es mayor a 3.**

In [17]:
df.drop(df[(df['FamilySize'] < 3)].index, inplace=True)

**Calcula el número de pasajeros en familias grandes.**

In [18]:
df['FamilySize'].value_counts()

FamilySize
3     29
5     22
4     15
6     12
10     7
7      6
Name: count, dtype: int64

**Calcula la proporción de supervivencia entre los pasajeros que pertenecen a familias grandes.**

In [19]:
proporcionf = df.groupby('FamilySize')['Survived'].mean()
print(proporcionf)

FamilySize
3     0.724138
4     0.200000
5     0.136364
6     0.333333
7     0.000000
10    0.000000
Name: Survived, dtype: float64

# Ejercicio 3: Segmentación por grupos de edad

**Clasifica a los pasajeros en las siguientes categorías de edad:  menor de edad (< 18) y mayor de edad (>=18).**

In [20]:
def clasificacion(edad):
    if edad >= 18:
        return "Mayor de edad"
    else:
        return "Menor de edad"

df['ClasificacionEdad'] = df['Age'].apply(clasificacion)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,ClasificacionEdad
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,4,Menor de edad
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,6,Mayor de edad
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,5,Menor de edad
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,4,Menor de edad
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,6,Mayor de edad

# Ejercicio 4: Comparación entre promedios calculados manualmente y con Pandas

**Utiliza NumPy para calcular el promedio de las columnas 'Age' y 'Fare', ignorando valores nulos.**

In [21]:
promedio1 = np.nanmean(df['Age'])
print(promedio1)

promedio2 = np.nanmean(df['Fare'])
print(promedio2)

17.992564102564103
57.19821538461538

**Compara estos valores con los promedios obtenidos utilizando los métodos nativos de Pandas.**

In [22]:
promedio1pandas = df['Age'].mean()
print(promedio1pandas)

promedio2pandas = df['Fare'].mean()
print(promedio2pandas)

17.992564102564103
57.19821538461538

# Ejercicio 5. Creación de intervalos de clase usando NumPy y análisis con Pandas

**Divide la columna 'Fare' en 5 intervalos equidistantes utilizando la función numpy.linspace.**

In [23]:
intervalo = np.linspace(min(df['Fare']), max(df['Fare']), 6)

**Crea una nueva columna en el DataFrame que asigne a cada pasajero el intervalo correspondiente de su tarifa.**

In [24]:
etiqueta = [1, 2, 3, 4, 5]

df['CategoryFare'] = pd.cut(df['Fare'], bins=intervalo, labels=etiqueta)

**Calcula el número de pasajeros en cada intervalo utilizando Pandas y la proporción de supervivientes por intervalo.**

In [27]:
numero = df['CategoryFare'].value_counts()
print(numero)

print("\n")

proporcionsup = df.groupby('CategoryFare')['Survived'].mean()
print(proporcionsup)

CategoryFare
1    68
2     9
3     7
5     6
4     0
Name: count, dtype: int64


CategoryFare
1    0.279412
2    0.222222
3    0.714286
4         NaN
5    0.666667
Name: Survived, dtype: float64

<ipython-input-27-0a4886c7b6bb>:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  proporcionsup = df.groupby('CategoryFare')['Survived'].mean()